USE [master]
GO
/****** Object:  Database [Election]    Script Date: 11/01/2013 15:40:28 ******/
CREATE DATABASE [Election] ON  PRIMARY 
( NAME = N'Election', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Election.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Election_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Election_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Election].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Election]
GO
/****** Object:  Table [dbo].[RegionType]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegionType](
	[RegionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_RegionType] PRIMARY KEY CLUSTERED 
(
	[RegionTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RegionType] ON
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (1, N'State')
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (2, N'Local Government Area')
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (3, N'Ward')
SET IDENTITY_INSERT [dbo].[RegionType] OFF
/****** Object:  Table [dbo].[CategoryType]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoryType](
	[CategoryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](40) NULL,
 CONSTRAINT [PK_CategoryType] PRIMARY KEY CLUSTERED 
(
	[CategoryTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryType] ON
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (1, N'State')
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (2, N'Local Government')
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (3, N'Ward')
SET IDENTITY_INSERT [dbo].[CategoryType] OFF
/****** Object:  Table [dbo].[RaceType]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RaceType](
	[RaceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_RaceType] PRIMARY KEY CLUSTERED 
(
	[RaceTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RaceType] ON
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (1, N'Presidential', N'Presidential elections')
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (2, N'Gubernatorial', N'State governorship and FCT Minister')
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (3, N'Senatorial', N'Federal Senate')
SET IDENTITY_INSERT [dbo].[RaceType] OFF
/****** Object:  Table [dbo].[Party]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Party](
	[PartyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](80) NULL,
	[Acronym] [varchar](10) NULL,
	[LogoFile] [varchar](225) NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[PartyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Party] ON
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile]) VALUES (1, N'Accord', N'A', NULL)
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile]) VALUES (2, N'Action Alliance', N'AA', NULL)
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile]) VALUES (3, N'Advanced Congress Of Democrats', N'ACD', NULL)
SET IDENTITY_INSERT [dbo].[Party] OFF
/****** Object:  Table [dbo].[Year]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Year](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NULL,
 CONSTRAINT [PK_Year] PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Region]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[TopLevel] [bit] NULL,
	[ParentRegionID] [int] NULL,
	[StatusID] [int] NULL,
	[Name] [varchar](128) NULL,
	[RegionTypeID] [int] NULL,
	[RegionCode] [varchar](32) NULL,
	[Coordinates] [text] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([RegionID], [TopLevel], [ParentRegionID], [StatusID], [Name], [RegionTypeID], [RegionCode], [Coordinates]) VALUES (2, 1, NULL, NULL, N'Abuja Federal Capital Territory', 1, N'CT', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[RaceResult]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceResult](
	[RaceResultID] [int] IDENTITY(1,1) NOT NULL,
	[RaceID] [int] NULL,
	[CandidateID] [int] NULL,
	[RegionID] [int] NULL,
	[NoOfVotes] [int] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedOn] [datetime] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[RaceResultID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[TopLevel] [bit] NULL,
	[ParentCategoryID] [int] NULL,
	[SortOrder] [int] NULL,
	[StatusID] [int] NULL,
	[CategoryTypeID] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[RaceID] [int] IDENTITY(1,1) NOT NULL,
	[RaceTypeID] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 11/01/2013 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidate](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](80) NULL,
	[MiddleName] [varchar](80) NULL,
	[LastName] [varchar](80) NULL,
	[PartyID] [int] NULL,
	[CategoryID] [int] NULL,
	[Gender] [varchar](10) NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Region_RegionType]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_RegionType] FOREIGN KEY([RegionTypeID])
REFERENCES [dbo].[RegionType] ([RegionTypeID])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_RegionType]
GO
/****** Object:  ForeignKey [FK_RaceResult_Candidate]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidate] ([CandidateID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Candidate]
GO
/****** Object:  ForeignKey [FK_RaceResult_Race]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Race] FOREIGN KEY([RaceID])
REFERENCES [dbo].[Race] ([RaceID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Race]
GO
/****** Object:  ForeignKey [FK_RaceResult_Region]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Region]
GO
/****** Object:  ForeignKey [FK_Category_CategoryType]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_CategoryType] FOREIGN KEY([CategoryTypeID])
REFERENCES [dbo].[CategoryType] ([CategoryTypeID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_CategoryType]
GO
/****** Object:  ForeignKey [FK_Race_RaceType]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_RaceType] FOREIGN KEY([RaceTypeID])
REFERENCES [dbo].[RaceType] ([RaceTypeID])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_RaceType]
GO
/****** Object:  ForeignKey [FK_Candidate_Party]    Script Date: 11/01/2013 15:40:30 ******/
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_Party] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Party] ([PartyID])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_Party]
GO
