<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ElectionEntities" connectionString="metadata=res://*/ElectionMonitoring.csdl|res://*/ElectionMonitoring.ssdl|res://*/ElectionMonitoring.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Election;persist security info=True;user id=geek;password=geekworld;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ElectionMonitoringEntities" connectionString="metadata=res://*/ElectionMonitoring.csdl|res://*/ElectionMonitoring.ssdl|res://*/ElectionMonitoring.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Election;persist security info=True;user id=geek;password=geekworld;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>